header {
  display: flex;
  flex-direction: column;
  align-items: center;

}

h1 {
  margin: 0px;
  font-size: 100px;
  font-family: 'Space Mono', monospace;
  color: rgb(229, 255, 0);
}

h2 {
  margin: 0px;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(182, 197, 45);


}

p {
  margin: 0px;
  font-size: 1.5em;
  font-weight: 600;
  opacity: .64;
}


@media screen and (max-width: 600px) {

  h1 {
    font-size: 64px;
  }
}


@media screen and (max-width: 350px) {
  body {
    font-size: 12px;
  }

  h1 {
    font-size: 40px;
  }
}